<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>大数据资源网|文章</title>
    <meta name="keywords" content="">
	<meta name="description" content="">
    <meta name="author" content="templatemo">
    <!-- 
	Medigo Template
	http://www.templatemo.com/preview/templatemo_460_medigo
    -->

	<!-- Google Fonts -->
	<link href="http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700itali" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Raleway:400,900,800,700,500,200,100,600" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="../static/bootstrap/bootstrap.css">
	<link rel="stylesheet" href="../static/css/misc.css">
	<link rel="stylesheet" href="../static/css/blue-scheme.css">
	
	<!-- JavaScripts -->
	<script src="../static/js/jquery-1.10.2.min.js"></script>
	<script src="../static/js/jquery-migrate-1.2.1.min.js"></script>

	<link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon" />

</head>
<body>


	<div class="responsive_menu">
        <ul class="main_menu">
            <li><a href="index.html">首页</a></li>
            <li><a href="#">课程资源</a>
            	<ul>
            		<li><a href="documentary.html">纪录片</a></li>
            		<li><a href="#">课程链接</a></li>
            		<li><a href="article.html">文章推送</a></li>
            	</ul>
            </li>
            <li><a href="#">相关文献</a>
				<ul>
					<li><a href="#">论文</a></li>
					<li><a href="#">电子书</a></li>
				</ul>
            </li>
            <li><a href="#">专家团队</a></li>
            <li><a href="#">相关政策</a></li>
        </ul> <!-- /.main_menu -->
    </div> <!-- /.responsive_menu -->

	<header class="site-header clearfix">
		<div class="container">

			<div class="row">

				<div class="col-md-12">

					<div class="pull-left logo">
						<a href="index.html">
							<img src="../static/images/logo.png" alt="Medigo">
						</a>
					</div>	<!-- /.logo -->

					<div class="main-navigation pull-right">

						<nav class="main-nav visible-md visible-lg">
							<ul class="sf-menu">
								<li><a href="index.html">首页</a></li>
					            <li><a href="#" class="active">课程资源</a>
					            	<ul>
					            		<li><a href="documentary.html">纪录片</a></li>
					            		<li><a href="#">课程链接</a></li>
					            		<li><a href="article.html">文章推送</a></li>
					            	</ul>
					            </li>
					            <li ><a href="#">相关文献</a>
									<ul>
										<li><a href="#">论文</a></li>
										<li><a href="#">电子书</a></li>
									</ul>
					            </li>
					            <li><a href="#">专家团队</a></li>
					            <li><a href="#">相关政策</a></li>
							</ul> <!-- /.sf-menu -->
						</nav> <!-- /.main-nav -->

						<!-- This one in here is responsive menu for tablet and mobiles -->
					    <div class="responsive-navigation visible-sm visible-xs">
					        <a href="#nogo" class="menu-toggle-btn">
					            <i class="fa fa-bars"></i>
					        </a>
					    </div> <!-- /responsive_navigation -->

					</div> <!-- /.main-navigation -->

				</div> <!-- /.col-md-12 -->

			</div> <!-- /.row -->

		</div> <!-- /.container -->
	</header> <!-- /.site-header -->

	<div class="first-widget parallax" id="blogId">
		<div class="parallax-overlay">
			<div class="container pageTitle">
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<h2 class="page-title">文章</h2>
					</div> <!-- /.col-md-6 -->
					<div class="col-md-6 col-sm-6 text-right">
						<!--<span class="page-location">Home / Blog Single</span>-->
					</div> <!-- /.col-md-6 -->
				</div> <!-- /.row -->
			</div> <!-- /.container -->
		</div> <!-- /.parallax-overlay -->
	</div> <!-- /.pageTitle -->

	<div class="container">	
		<div class="row">

			<div class="col-md-8 blog-posts">
				<div class="row">
					<div class="col-md-12">
						<div class="post-blog">
							<div class="blog-image">
								<img src="../static/images/includes/blog2.jpg" alt="">
							</div> <!-- /.blog-image -->
							<div class="blog-content">
								<span class="meta-date"><a href="#">24 February 2084</a></span>
								<span class="meta-comments"><a href="#blog-comments">3 Comments</a></span>
								<span class="meta-author"><a href="#blog-author">Candy Sharp</a></span>
								<h3>文章标题</h3>
								<p>Sed consequat lobortis risus, in rutrum arcu tristique eget. Etiam accumsan lectus quis cursus porta.  Etiam a turpis sed sapien malesuada pellentesque quis id tortor.  Phasellus mattis quam enim, non accumsan nibh tincidunt sed.</p>
								<p>Nostrum, quibusdam, eaque, numquam, fuga dolores libero amet suscipit in saepe optio facilis aperiam nulla iste molestiae reprehenderit facere dolorem illum ea quam incidunt est quos odio. Aperiam, repellendus, at, eaque quas eligendi ut ipsum voluptate vero fugiat molestiae labore eius similique cumque necessitatibus sequi dolore quam enim nostrum.</p>
								<blockquote>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, quisquam, aut, eum, natus excepturi impedit ipsa rerum ratione id dolores ducimus minus eos quod veniam similique fugit illum error facilis!
								</blockquote>
								<p>Culpa, iure, debitis, exercitationem, vitae aperiam excepturi explicabo distinctio ea nisi illo temporibus dignissimos praesentium dolorem reiciendis iste officiis odio nemo dolor illum laboriosam? Architecto, earum accusamus sequi distinctio veniam amet ea quibusdam eos sapiente!</p>
								<div class="tag-items">
                                    <span class="small-text">标签:</span>
                                    <a href="#" rel="tag">标签1</a>
                                    <a href="#" rel="tag">标签2</a>
                                    <a href="#" rel="tag">标签3</a>
                                </div>
							</div> <!-- /.blog-content -->
						</div> <!-- /.post-blog -->
					</div> <!-- /.col-md-12 -->
				</div> <!-- /.row -->
				<div class="row">
					<div class="col-md-12">
						<div id="blog-author" class="clearfix">
                            <a href="#" class="blog-author-img pull-left">
                                <img src="../static/images/includes/author.png" alt="">
                            </a>
                            <div class="blog-author-info">
                                <h4 class="author-name"><a href="#">文章来源</a></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quod, doloremque, quia cum maiores commodi consequatur dolore et dolores omnis officiis minus dolor ex quae incidunt veritatis.</p>
                            </div>
                        </div>
					</div> <!-- /.col-md-12 -->
				</div> <!-- /.row -->
				
			</div> <!-- /.col-md-8 -->

			<div class="col-md-4">
				<div class="sidebar">
					<div class="sidebar-widget">
						<h5 class="widget-title">热点排行</h5>
						<div class="last-post clearfix">
							<div class="thumb pull-left">
								<a href="#"><img src="../static/images/includes/blogthumb1.jpg" alt=""></a>
							</div>
							<div class="content">
								<span>24 February 2084</span>
								<h4><a href="#">Top标题1</a></h4>
							</div>
						</div> <!-- /.last-post -->
						<div class="last-post clearfix">
							<div class="thumb pull-left">
								<a href="#"><img src="../static/images/includes/blogthumb2.jpg" alt=""></a>
							</div>
							<div class="content">
								<span>24 February 2084</span>
								<h4><a href="#">Top标题1</a></h4>
							</div>
						</div> <!-- /.last-post -->
						<div class="last-post clearfix">
							<div class="thumb pull-left">
								<a href="#"><img src="../static/images/includes/blogthumb3.jpg" alt=""></a>
							</div>
							<div class="content">
								<span>24 February 2084</span>
								<h4><a href="#">Top标题1</a></h4>
							</div>
						</div> <!-- /.last-post -->
					</div> <!-- /.sidebar-widget -->
					<div class="sidebar-widget">
						<h5 class="widget-title">标签</h5>
						<div class="row categories">
							<div class="col-md-6">
								<ul>
									<li><a href="#">标签1</a></li>
									<li><a href="#">标签2</a></li>
									<li><a href="#">标签3</a></li>
									<li><a href="#">标签4</a></li>
								</ul>
							</div>
							<div class="col-md-6">
								<ul>
									<li><a href="#">标签5</a></li>
									<li><a href="#">标签6</a></li>
								</ul>
							</div>
						</div> <!-- /.row -->
					</div> <!-- /.sidebar-widget -->
					</div> <!-- /.sidebar -->
			</div> <!-- /.col-md-4 -->

		</div> <!-- /.row -->
	</div> <!-- /.container -->	


	<footer class="site-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<nav class="footer-nav clearfix">
						<ul class="footer-menu">
							<li><a href="index.html">首页</a></li>
							<li><a href="documentary.html">课程资源</a></li>
							<li><a href="#">相关文献</a></li>
							<li><a href="#">专家团队</a></li>
							<li><a href="#">相关政策</a></li>
						</ul> <!-- /.footer-menu -->
					</nav> <!-- /.footer-nav -->
				</div> <!-- /.col-md-12 -->
			</div> <!-- /.row -->
			<div class="row">
				<div class="col-md-12">
					<p class="copyright-text">Copyright &copy; 2084 Company Name</p>
				</div> <!-- /.col-md-12 -->
			</div> <!-- /.row -->
		</div> <!-- /.container -->
	</footer> <!-- /.site-footer -->

	<!-- Scripts -->
	<script src="../static/js/min/plugins.min.js"></script>
	<script src="../static/js/min/medigo-custom.min.js"></script>


</body>
</html>