<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>大数据资源网|纪录片</title>
    <meta name="keywords" content="">
	<meta name="description" content="">
    <meta name="author" content="templatemo">
    <!-- 
	Medigo Template
	http://www.templatemo.com/preview/templatemo_460_medigo
    -->

	<!-- Google Fonts -->
	<link href="http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700itali" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Raleway:400,900,800,700,500,200,100,600" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="../static/bootstrap/bootstrap.css">
	<link rel="stylesheet" href="../static/css/misc.css">
	<link rel="stylesheet" href="../static/css/blue-scheme.css">
	
	<!-- JavaScripts -->
	<script src="../static/js/jquery-1.10.2.min.js"></script>
	<script src="../static/js/jquery-migrate-1.2.1.min.js"></script>

	<link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon" />

</head>
<body>


	<div class="responsive_menu">
        <ul class="main_menu">
            <li><a href="index.html">首页</a></li>
            <li><a href="#">课程资源</a>
            	<ul>
            		<li><a href="documentary.html">纪录片</a></li>
            		<li><a href="project-image.html">课程链接</a></li>
            		<li><a href="article.html">文章推送</a></li>
            	</ul>
            </li>
            <li><a href="#">Blog</a>
				<ul>
					<li><a href="#">Blog Standard</a></li>
					<li><a href="#">Blog Single</a></li>
                    <li><a href="#">visit templatemo</a></li>
				</ul>
            </li>
            <li><a href="#">Archives</a></li>
            <li><a href="#">Contact</a></li>
        </ul> <!-- /.main_menu -->
    </div> <!-- /.responsive_menu -->

	<header class="site-header clearfix">
		<div class="container">

			<div class="row">

				<div class="col-md-12">

					<div class="pull-left logo">
						<a href="index.html">
							<img src="../static/images/logo.png" alt="Medigo">
						</a>
					</div>	<!-- /.logo -->

					<div class="main-navigation pull-right">

						<nav class="main-nav visible-md visible-lg">
							<ul class="sf-menu">
								<li><a href="index.html">首页</a></li>
					            <li class="active"><a href="#">课程资源</a>
					            	<ul>
					            		<li><a href="documentary.html">纪录片</a></li>
					            		<li><a href="#">课程链接</a></li>
					            		<li><a href="article.html">文章推送</a></li>
					            	</ul>
					            </li>
					            <li><a href="#">相关文献</a>
									<ul>
										<li><a href="#">论文</a></li>
										<li><a href="#">电子书</a></li>
                                        <li><a href="#">visit templatemo</a></li>
									</ul>
					            </li>
					            <li><a href="#">专家团队</a></li>
					            <li><a href="#">相关政策</a></li>
							</ul> <!-- /.sf-menu -->
						</nav> <!-- /.main-nav -->

						<!-- This one in here is responsive menu for tablet and mobiles -->
					    <div class="responsive-navigation visible-sm visible-xs">
					        <a href="#nogo" class="menu-toggle-btn">
					            <i class="fa fa-bars"></i>
					        </a>
					    </div> <!-- /responsive_navigation -->

					</div> <!-- /.main-navigation -->

				</div> <!-- /.col-md-12 -->

			</div> <!-- /.row -->

		</div> <!-- /.container -->
	</header> <!-- /.site-header -->

	<div class="first-widget parallax" id="portfolio">
		<div class="parallax-overlay">
			<div class="container pageTitle">
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<h2 class="page-title">纪录片</h2>
					</div> <!-- /.col-md-6 -->
					<div class="col-md-6 col-sm-6 text-right">
						<!--<span class="page-location">Home / Portfolio</span>-->
					</div> <!-- /.col-md-6 -->
				</div> <!-- /.row -->
			</div> <!-- /.container -->
		</div> <!-- /.parallax-overlay -->
	</div> <!-- /.pageTitle -->

	<div class="container">	
		<div class="row">
			<div class="col-md-12">
				<ul id="filters" class="mixitup-controls">
					<li class="filter" data-filter="all">分类1</li>
					<li class="filter" data-filter="branding">分类2</li>
					<li class="filter" data-filter="illustration">分类3</li>
					<li class="filter" data-filter="business">分类4</li>
					<li class="filter" data-filter="identity">分类5</li>
				</ul>
			</div> <!-- /.col-md-12 -->
		</div> <!-- /.row -->
	</div> <!-- /.container -->	

	<div class="container">
		<div class="row">
			<div class="portfolio-holder" id="Grid">
				<div class="portfolio-post col-sm-6 col-md-4 mix illustration">
					<div class="thumb-post">
						<div class="overlay">
                            <div class="overlay-inner">
                                <div class="portfolio-infos">
                                    <span class="meta-category">Illustration</span>
                                    <h3 class="portfolio-title"><a href="#">Visual Admin</a></h3>
                                </div>
                                <div class="portfolio-expand">
                                    <a class="fancybox" href="../static/images/includes/project1.jpg" title="Visual Admin">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <img src="../static/images/includes/project1.jpg" alt="Visual Admin">
					</div>
				</div> <!-- /.col-md-4 -->

				<div class="portfolio-post col-sm-6 col-md-4 mix branding">
					<div class="thumb-post">
						<div class="overlay">
                            <div class="overlay-inner">
                                <div class="portfolio-infos">
                                    <span class="meta-category">Branding</span>
                                    <h3 class="portfolio-title"><a href="#">Compass Template</a></h3>
                                </div>
                                <div class="portfolio-expand">
                                    <a class="fancybox" href="../static/images/includes/project2.jpg" title="Compass Template">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <img src="../static/images/includes/project2.jpg" alt="Compass Template">
					</div>
				</div> <!-- /.col-md-4 -->

				<div class="portfolio-post col-sm-6 col-md-4 mix illustration">
					<div class="thumb-post">
						<div class="overlay">
                            <div class="overlay-inner">
                                <div class="portfolio-infos">
                                    <span class="meta-category">Illustration</span>
                                    <h3 class="portfolio-title"><a href="#">Awesome Theme</a></h3>
                                </div>
                                <div class="portfolio-expand">
                                    <a class="fancybox" href="../static/images/includes/project3.jpg" title="Awesome Theme">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <img src="../static/images/includes/project3.jpg" alt="Awesome Theme">
					</div>
				</div> <!-- /.col-md-4 -->

				<div class="portfolio-post col-sm-6 col-md-4 mix illustration">
					<div class="thumb-post">
						<div class="overlay">
                            <div class="overlay-inner">
                                <div class="portfolio-infos">
                                    <span class="meta-category">Illustration</span>
                                    <h3 class="portfolio-title"><a href="#">Volton Personal Site</a></h3>
                                </div>
                                <div class="portfolio-expand">
                                    <a class="fancybox" href="../static/images/includes/project4.jpg" title="Volton Personal Site">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <img src="../static/images/includes/project4.jpg" alt="Volton Personal Site">
					</div>
				</div> <!-- /.col-md-4 -->

				<div class="portfolio-post col-sm-6 col-md-4 mix business">
					<div class="thumb-post">
						<div class="overlay">
                            <div class="overlay-inner">
                                <div class="portfolio-infos">
                                    <span class="meta-category">Business</span>
                                    <h3 class="portfolio-title"><a href="#">Rectangle Design</a></h3>
                                </div>
                                <div class="portfolio-expand">
                                    <a class="fancybox" href="../static/images/includes/project5.jpg" title="Rectangle Design">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <img src="../static/images/includes/project5.jpg" alt="Rectangle Design">
					</div>
				</div> <!-- /.col-md-4 -->

				<div class="portfolio-post col-sm-6 col-md-4 mix branding">
					<div class="thumb-post">
						<div class="overlay">
                            <div class="overlay-inner">
                                <div class="portfolio-infos">
                                    <span class="meta-category">Branding</span>
                                    <h3 class="portfolio-title"><a href="#">Masonry Gallery</a></h3>
                                </div>
                                <div class="portfolio-expand">
                                    <a class="fancybox" href="../static/images/includes/project6.jpg" title="Masonry Gallery">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <img src="../static/images/includes/project6.jpg" alt="Masonry Gallery">
					</div>
				</div> <!-- /.col-md-4 -->

				<div class="portfolio-post col-sm-6 col-md-4 mix branding identity">
					<div class="thumb-post">
						<div class="overlay">
                            <div class="overlay-inner">
                                <div class="portfolio-infos">
                                    <span class="meta-category">Branding / Identity</span>
                                    <h3 class="portfolio-title"><a href="#">Gloss Template</a></h3>
                                </div>
                                <div class="portfolio-expand">
                                    <a class="fancybox" href="../static/images/includes/project7.jpg" title="Gloss Template">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <img src="../static/images/includes/project7.jpg" alt="Gloss Template">
					</div>
				</div> <!-- /.col-md-4 -->

				<div class="portfolio-post col-sm-6 col-md-4 mix identity illustration">
					<div class="thumb-post">
						<div class="overlay">
                            <div class="overlay-inner">
                                <div class="portfolio-infos">
                                    <span class="meta-category">Identity / Illustration</span>
                                    <h3 class="portfolio-title"><a href="#">Ion Template</a></h3>
                                </div>
                                <div class="portfolio-expand">
                                    <a class="fancybox" href="../static/images/includes/project8.jpg" title="Ion Template">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <img src="../static/images/includes/project8.jpg" alt="Ion Template">
					</div>
				</div> <!-- /.col-md-4 -->

				<div class="portfolio-post col-sm-6 col-md-4 mix branding">
					<div class="thumb-post">
						<div class="overlay">
                            <div class="overlay-inner">
                                <div class="portfolio-infos">
                                    <span class="meta-category">Branding</span>
                                    <h3 class="portfolio-title"><a href="#">Freshness</a></h3>
                                </div>
                                <div class="portfolio-expand">
                                    <a class="fancybox" href="../static/images/includes/project9.jpg" title="Freshness">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <img src="../static/images/includes/project9.jpg" alt="Freshness">
					</div>
				</div> <!-- /.col-md-4 -->
				
			</div> <!-- /.portfolio-holder -->
		</div> <!-- /.row -->
	</div> <!-- /.container -->

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="pages">
					<li><a href="#" class="active">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">...</a></li>
					<li><a href="#">13</a></li>
				</ul>
			</div> <!-- /.col-md-12 -->
		</div> <!-- /.row -->
	</div> <!-- /.container -->

	<!-- Scripts -->
	<script src="../static/js/min/plugins.min.js"></script>
	<script src="../static/js/min/medigo-custom.min.js"></script>


</body>
</html>
