<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>大数据资源网</title>
    <meta name="keywords" content="">
	<meta name="description" content="">
    <meta name="author" content="templatemo">
    <!-- 
	Medigo Template
	http://www.templatemo.com/preview/templatemo_460_medigo
    -->
    
	<!-- Google Fonts -->
	<link href="http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700itali" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Raleway:400,900,800,700,500,200,100,600" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="../static/bootstrap/bootstrap.css">
	<link rel="stylesheet" href="../static/css/misc.css">
	<link rel="stylesheet" href="../static/css/blue-scheme.css">
	
	<!-- JavaScripts -->
	<script src="../static/js/jquery-1.10.2.min.js"></script>
	<script src="../static/js/jquery-migrate-1.2.1.min.js"></script>

	<link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon" />
	
	

</head>
<body>

	<header class="site-header clearfix">
	
		<div class="container">

			<div class="row">

				<div class="col-md-12">

					<div class="pull-left logo">
						<a href="index.html">
							<img src="../static/images/logo.png" alt="Medigo by templatemo">
						</a>
					</div>	<!-- /.logo -->

					<div class="main-navigation pull-right">

						<nav class="main-nav visible-md visible-lg">
							<ul class="sf-menu">
								<li class="active"><a href="index.html">首页</a></li>
					            <li><a href="#">课程资源</a>
					            	<ul>
					            		<li><a href="documentary.html">纪录片</a></li>
					            		<li><a href="#">课程链接</a></li>
					            		<li><a href="article.html">文章推送</a></li>
					            	</ul>
					            </li>
					            <li><a href="#">相关文献</a>
									<ul>
										<li><a href="#">论文</a></li>
										<li><a href="#">电子书</a></li>
									</ul>
					            </li>
					            <li><a href="#">专家团队</a></li>
					            <li><a href="#">相关政策</a></li>
							</ul> <!-- /.sf-menu -->
						</nav> <!-- /.main-nav -->

						<!-- This one in here is responsive menu for tablet and mobiles -->
					    <div class="responsive-navigation visible-sm visible-xs">
					        <a href="#nogo" class="menu-toggle-btn">
					            <i class="fa fa-bars"></i>
					        </a>
					    </div> <!-- /responsive_navigation -->

					</div> <!-- /.main-navigation -->

				</div> <!-- /.col-md-12 -->

			</div> <!-- /.row -->

		</div> <!-- /.container -->
	</header> <!-- /.site-header -->



<!--大图-->
	<section id="homeIntro" class="parallax first-widget testimonial-widget">
	
	    <div class="parallax-overlay">
		    <div class="container home-intro-content">	    
		    
		<div class="row">
		        	<div class="col-md-12">
		        		<h2>大数据资源网</h2>
		        		<!--<p>We asked six entrepreneurs with drastically different office strategies for their advice on<br> choosing a workspace. </p>-->
		        		<!--<a href="#" class="large-button white-color">Download Free <i class="icon-button fa fa-download"></i></a>-->
					<!--add-->
					<div class="bx-wrapper" style="max-width: 100%;"><div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 188px;"><div class="bxslider" style="width: auto; position: relative;">
						<div class="testimonial" style="float: none; list-style: none; position: absolute; width: 1140px; z-index: 0; display: none;">
							<div class="testimonial-content">
								<span class="testimonial-author">Communication University of China</span>
								<p class="testimonial-description" >近日热点1.</p>
							</div>
						</div>
						<div class="testimonial" style="float: none; list-style: none; position: absolute; width: 1140px; z-index: 50; display: block;">
							<div class="testimonial-content">
								<span class="testimonial-author">Communication University of China</span>
								<p class="testimonial-description" href="#">近日热点2.</p>
							</div>
						</div>
						<div class="testimonial" style="float: none; list-style: none; position: absolute; width: 1140px; z-index: 0; display: none;">
							<div class="testimonial-content">
								<span class="testimonial-author">Communication University of China</span>
								<p class="testimonial-description" href="#">近日热点3.</p>
							</div>
						</div>
					</div></div>
					</div> <!-- /.bxslider -->
				
					<!--add ends-->
					
		        	</div> <!-- /.col-md-12 -->
		        </div> <!-- /.row -->
		    </div> <!-- /.container -->
	    </div> <!-- /.parallax-overlay -->
	</section> <!-- /#homeIntro -->


<!--大图 ends-->


<!--add   滚动新闻-->
<div class="container">	
		<div class="row project-single">
			<div class="col-md-8">
					<div class="flexslider">
						
					<div class="flex-viewport" style="overflow: hidden; position: relative;"><ul class="slides" style="width: 1000%; transition-duration: 0s; transform: translate3d(-1494px, 0px, 0px);">
					<li class="clone" aria-hidden="true" style="width: 747px; float: left; display: block;"><img src="../static/images/includes/projectimage1.jpg" alt="Slide 3" draggable="false"></li>
							<li class="" style="width: 747px; float: left; display: block;"><img src="../static/images/includes/projectimage2.jpg" alt="Slide 1" draggable="false"></li>
							<li style="width: 747px; float: left; display: block;" class="flex-active-slide"><img src="../static/images/includes/projectimage3.jpg" alt="Slide 2" draggable="false"></li>
							<li style="width: 747px; float: left; display: block;" class=""><img src="../static/images/includes/projectimage4.jpg" alt="Slide 3" draggable="false"></li>
						<li class="clone" aria-hidden="true" style="width: 747px; float: left; display: block;"><img src="../static/images/includes/projectimage2.jpg" alt="Slide 1" draggable="false"></li></ul></div><ul class="flex-direction-nav"><li><a class="flex-prev" href="#"></a></li><li><a class="flex-next" href="#"></a></li></ul></div>

			</div> <!-- /.col-md-8 -->
			<div class="col-md-4">
				<div class="project-info">
					<span class="subtitle">Subtitle Goes here</span>
					<h3 class="project-title">Project Slideshow Post Format</h3>
					<p class="description">Sed consequat lobortis risus, in rutrum arcu tristique eget. Etiam accumsan lectus quis cursus porta.<br><br>Nam convallis neque nec magna malesuada dictum. Aliquam commodo erat non tellus porta imperdiet sit amet eu lacus.</p>
					<ul class="meta-post">
						<li><span>Date:</span>February 2084</li>
						<li><span>Skills:</span>Branding, Illustration</li>
						<li><span>URL:</span><a href="#">www.company.com</a></li>
					</ul>
				</div> <!-- /.project-info -->
			</div> <!-- /.col-md-4 -->
		</div> <!-- /.row -->
	</div>
<!--add---ends-->



<!--dark--service--starts	-->
	<section class="dark-content services">
	<script>
          word = document.getElementByClassName("service-title");
	  word.style.color = "#AAAAAA";
	</script>
		<div class="container">
			<div class="row">

				<div class="col-md-4 col-sm-4">
					<div class="service-box-wrap">
						<div class="service-icon-wrap">
							<i class="fa fa-umbrella fa-2x"></i>
						</div> <!-- /.service-icon-wrap -->
						<div class="service-cnt-wrap">
							<h3 class="service-title">待定1</h3>
							<p>There are 4 color themes (blue, green, red, orange) and this one is blue.</p>
						</div> <!-- /.service-cnt-wrap -->
					</div> <!-- /.service-box-wrap -->
				</div> <!-- /.col-md-4 -->

				<div class="col-md-4 col-sm-4">
					<div class="service-box-wrap">
						<div class="service-icon-wrap">
							<i class="fa fa-mobile-phone fa-2x"></i>
						</div> <!-- /.service-icon-wrap -->
						<div class="service-cnt-wrap">
							<h3 class="service-title">待定2</h3>
							<p>Check <a rel="nofollow" href="http://fontawesome.io/icons/" target="_blank">FontAwesome</a> for your suitable icons. Example: &lt;i class=&quot;fa fa-download&quot;&gt;&lt;/i&gt;</p>
						</div> <!-- /.service-cnt-wrap -->
					</div> <!-- /.service-box-wrap -->
				</div> <!-- /.col-md-4 -->

				<div class="col-md-4 col-sm-4">
					<div class="service-box-wrap">
						<div class="service-icon-wrap">
							<i class="fa fa-pencil-square-o fa-2x"></i>
						</div> <!-- /.service-icon-wrap -->
						<div class="service-cnt-wrap">
							<h3 class="service-title">待定3</h3>
							<p>Based on a 12 column grid system, with every pixel snapped.</p>
						</div> <!-- /.service-cnt-wrap -->
					</div> <!-- /.service-box-wrap -->
				</div> <!-- /.col-md-4 -->

			</div>

			<div class="row">
				
				<div class="col-md-4 col-sm-4">
					<div class="service-box-wrap">
						<div class="service-icon-wrap">
							<i class="fa fa-code fa-2x"></i>
						</div> <!-- /.service-icon-wrap -->
						<div class="service-cnt-wrap">
							<h3 class="service-title">待定4</h3>
							<p>We offer validated html files and well commented code on our themes.</p>
						</div> <!-- /.service-cnt-wrap -->
					</div> <!-- /.service-box-wrap -->
				</div> <!-- /.col-md-4 -->

				<div class="col-md-4 col-sm-4">
					<div class="service-box-wrap">
						<div class="service-icon-wrap">
							<i class="fa fa-eye-slash fa-2x"></i>
						</div> <!-- /.service-icon-wrap -->
						<div class="service-cnt-wrap">
							<h3 class="service-title">待定5</h3>
							<p>Incredibly clean design provides you powerful way to grow your business.</p>
						</div> <!-- /.service-cnt-wrap -->
					</div> <!-- /.service-box-wrap -->
				</div> <!-- /.col-md-4 -->

				<div class="col-md-4 col-sm-4">
					<div class="service-box-wrap">
						<div class="service-icon-wrap">
							<i class="fa fa-suitcase fa-2x"></i>
						</div> <!-- /.service-icon-wrap -->
						<div class="service-cnt-wrap">
							<h3 class="service-title">待定6</h3>
							<p>Credit goes to <a rel="nofollow" href="http://unsplash.com" target="_blank">Unsplash</a> for images used in this template.</p>
						</div> <!-- /.service-cnt-wrap -->
					</div> <!-- /.service-box-wrap -->
				</div> <!-- /.col-md-4 -->

			</div> <!-- /.row -->
		</div> <!-- /.container -->
	</section> <!-- /.services -->



<!--dark---service--ends-->


<!--视频推荐 starts-->
<!--视频推荐  ends	-->
	
	
	
	<!--testimonials-widget-->
	
        <!--testimonials-widget  ends-->	

<!--团队-->
        <section class="light-content our-team">
		<div class="container">
		<!--row--1-->
			<div class="row">
				<div class="col-md-12">
					<div class="section-header">
						<h2 class="section-title">专家团队</h2>
						<p class="section-desc">团队简介</p>
					</div> <!-- /.section-header -->
				</div> <!-- /.col-md-12 -->
			</div> <!-- /.row -->
     <!--row--1--ends		-->
     
     
     <!--row---2-->
     
     <!--row---2---ends-->
		
		</div> <!-- /.container -->
		<div class="team-members">
			<div class="container">
				<div class="row">

					<div class="col-md-3 col-sm-3">
						<div class="team-member">
							<div class="thumb-post">
								<img src="../static/images/includes/member1.jpg" alt="">
								<span class="member-role">团队1</span>
							</div>
							<div class="member-content">
								<h4 class="member-name">团队1</h4>
								<p>团队1简介 </p>
							</div>
						</div> <!-- /.team-member -->
					</div> <!-- /.col-md-3 -->

					<div class="col-md-3 col-sm-3">
						<div class="team-member">
							<div class="thumb-post">
								<img src="../static/images/includes/member2.jpg" alt="">
								<span class="member-role">团队2</span>
							</div>
							<div class="member-content">
								<h4 class="member-name">团队2</h4>
								<p>团队2简介 </p>
							</div>
						</div> <!-- /.team-member -->
					</div> <!-- /.col-md-3 -->

					<div class="col-md-3 col-sm-3">
						<div class="team-member">
							<div class="thumb-post">
								<img src="../static/images/includes/member3.jpg" alt="">
								<span class="member-role">团队3</span>
							</div>
							<div class="member-content">
								<h4 class="member-name">团队3</h4>
								<p>团队3简介</p>
							</div>
						</div> <!-- /.team-member -->
					</div> <!-- /.col-md-3 -->
					<div class="col-md-3 col-sm-3">
						<div class="team-member">
							<div class="thumb-post">
								<img src="../static/images/includes/member1.jpg" alt="">
								<span class="member-role">团队4</span>
							</div>
							<div class="member-content">
								<h4 class="member-name">团队4</h4>
								<p>团队4简介 </p>
							</div>
						</div> <!-- /.team-member -->
					</div> <!-- /.col-md-3 -->

				</div> <!-- /.row -->
			</div> <!-- /.container -->
		</div> <!-- /.team-members -->
	</section> <!-- /.our-team -->
	
	
<!--团队 ends	-->
	<section id="blogPosts" class="parallax">
	    <div class="parallax-overlay">
		    <div class="container">
		        <div class="row">
		        	<div class="col-md-12">
		        		<div class="section-header">
							<h2 class="section-title">栏目推荐</h2>
							<!--<p class="section-desc">Everything you need to create a professional website.</p>-->
						</div> <!-- /.section-header -->
		        	</div> <!-- /.col-md-12 -->
		        </div> <!-- /.row -->
		        <div class="row latest-posts">
		        	<div class="col-md-4 col-sm-6">
		        		<div class="blog-post clearfix">
		        			<div class="thumb-post">
		        				<a href="#"><img src="../static/images/includes/blogthumb1.jpg" alt="" class="img-circle"></a>
		        			</div>
		        			<div class="blog-post-content">
		        				<h4 class="post-title"><a href="#">栏目1</a></h4>
		        				<span class="meta-post-date">12 February 2084</span>
		        			</div>
		        		</div> <!-- /.blog-post -->
		        	</div> <!-- /.col-md-4 -->
		        	<div class="col-md-4 col-sm-6">
		        		<div class="blog-post clearfix">
		        			<div class="thumb-post">
		        				<a href="#"><img src="../static/images/includes/blogthumb2.jpg" alt="" class="img-circle"></a>
		        			</div>
		        			<div class="blog-post-content">
		        				<h4 class="post-title"><a href="#">栏目1</a></h4>
		        				<span class="meta-post-date">10 February 2084</span>
		        			</div>
		        		</div> <!-- /.blog-post -->
		        	</div> <!-- /.col-md-4 -->
		        	<div class="col-md-4 col-sm-6">
		        		<div class="blog-post clearfix">
		        			<div class="thumb-post">
		        				<a href="#"><img src="../static/images/includes/blogthumb3.jpg" alt="" class="img-circle"></a>
		        			</div>
		        			<div class="blog-post-content">
		        				<h4 class="post-title"><a href="#">栏目1</a></h4>
		        				<span class="meta-post-date">8 February 2084</span>
		        			</div>
		        		</div> <!-- /.blog-post -->
		        	</div> <!-- /.col-md-4 -->
		        </div> <!-- /.row -->
		    </div> <!-- /.container -->
	    </div> <!-- /.parallax-overlay -->
	</section> <!-- /#blogPosts -->

	<footer class="site-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<nav class="footer-nav clearfix">
						<ul class="footer-menu">
							<li><a href="index.html">首页</a></li>
							<li><a href="documentary.html">课程资源</a></li>
							<li><a href="#">相关文献</a></li>
							<li><a href="#">专家团队</a></li>
							<li><a href="#">相关政策</a></li>
						</ul> <!-- /.footer-menu -->
					</nav> <!-- /.footer-nav -->
				</div> <!-- /.col-md-12 -->
			</div> <!-- /.row -->
			<div class="row">
				<div class="col-md-12">
					<p class="copyright-text">Copyright &copy; Communication University of China</p>
				</div> <!-- /.col-md-12 -->
			</div> <!-- /.row -->
		</div> <!-- /.container -->
	</footer> <!-- /.site-footer -->

	
	
	</div>	
	
	
	
	<!-- Scripts -->
	<script src="../static/js/min/plugins.min.js"></script>
	<script src="../static/js/min/medigo-custom.min.js"></script>

</body>
</html>